.animal-slaughter{
  .hero{
    width: 100%;
    height: auto;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    padding: 200px 1rem 200px;
    @media (max-width: 769px){
      background-image: url('../img/cow-small.jpg');
      background-size: cover;
    }
  }

  .logo{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    height: 50px;
    img{
      display: block;
      max-height: 100%;
    }
  }

  .calc-link{
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
    font-weight: normal;
    color: #fff;
    i{
      padding: 0 0.5rem 0 0;
    }
  }

  h1{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 1px #222, 1px 1px 4px #333;
    @media (max-width: 769px){
      font-size: 2rem;
    }
    @media (max-width: 480px){
      font-size: 1.5rem;
    }
  }

  // h2{
  //   color: #fff;
  //   text-align: center;
  //   font-size: 1.5rem;
  //   text-shadow: 1px 1px 1px #222, 1px 1px 4px #333;
  //   @media (max-width: 480px){
  //     font-size: 1rem;
  //   }
  // }

  // h3{
  //   color: #111111;
  //   text-align: center;
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   font-size: 1.2rem;
  //   @media (max-width: 480px){
  //     font-size: 0.9rem;
  //   }
  // }

  .counter-body{
    width: 70em;
    max-width: 100%;
    margin: 0 auto;

    p{
      color: #999;
      text-align: center;
      font-size: 0.8rem;
      //text-transform: uppercase;
      @media (max-width: 480px){
        font-size: 0.75rem;
      }
    }

    @media (max-width: 480px){
      padding: 2rem 0.5rem 1rem;
    }
  }

  .time-so-far{
    color: $red !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem!important;
  }
  .counter-info{
    p{
      font-size: 0.8rem;
      color: $grey;
      @media (max-width: 769px){
        font-size: 0.7rem;
      }
    }
  }

  $marineanimalsURL:url(../img/icons/whale.svg);
  $fishURL:         url(../img/icons/fish.svg);
  $fish2URL:        url(../img/icons/fish2.svg);
  $chickensURL:     url(../img/icons/chicken.svg);
  $ducksURL:        url(../img/icons/duck.svg);
  $pigsURL:         url(../img/icons/pig.svg);
  $rabbitsURL:      url(../img/icons/rabbit.svg);
  $turkeysURL:      url(../img/icons/turkey.svg);
  $geeseURL:        url(../img/icons/geese.svg);
  $sheepURL:        url(../img/icons/sheep.svg);
  $goatsURL:        url(../img/icons/goat.svg);
  $cowsURL:         url(../img/icons/cow.svg);
  $rodentsURL:      url(../img/icons/rat.svg);
  $birdsURL:        url(../img/icons/bird.svg);
  $buffalosURL:     url(../img/icons/buffalo.svg);
  $dogsURL:         url(../img/icons/dog.svg);
  $catsURL:         url(../img/icons/cat.svg);
  $horsesURL:       url(../img/icons/horse.svg);
  $donkeysURL:      url(../img/icons/donkey.svg);
  $camelsURL:       url(../img/icons/camel.svg);

  // $marineanimalsURL:url(../img/animals/dolphin.png);
  // $chickensURL:     url(../img/animals/chicken.png);
  // $ducksURL:        url(../img/animals/duck.png);
  // $pigsURL:         url(../img/animals/pigs.png);
  // $rabbitsURL:      url(../img/animals/rabbits.png);
  // $turkeysURL:      url(../img/animals/turkeys.png);
  // $geeseURL:        url(../img/animals/geese.png);
  // $sheepURL:        url(../img/animals/sheep.png);
  // $goatsURL:        url(../img/animals/goats.png);
  // $cowsURL:         url(../img/animals/cows.png);
  // $rodentsURL:      url(../img/animals/rodents.png);
  // $birdsURL:        url(../img/animals/pigeons.png);
  // $buffalosURL:     url(../img/animals/buffalo.png);
  // $dogsURL:         url(../img/animals/dog.png);
  // $catsURL:         url(../img/animals/cat.png);
  // $horsesURL:       url(../img/animals/horse.png);
  // $donkeysURL:      url(../img/animals/donkey.png);
  // $camelsURL:       url(../img/animals/camels.png);


  .slaughter-counter{
    width: 100%;
    max-width: 100%;
    margin: 0 auto 1rem;
    text-align: center;
    p{
      font-weight: bold;
      text-align: left;
      margin: 0;
      padding: 0;
    }
    span{
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      color: #111111;
    }
    li{
      margin: 1rem;
      background-image: $green2;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: inline-block;
      height: auto;
      width: 200px;
      //padding: 2px;
      border-radius: 4px;
      vertical-align: top;
      overflow: hidden;

      //@extend .box-shadow;

      @media (max-width: 769px){
        margin: 0.5rem 0;
      }

      .counter-inner-wrapper{
        display: flex;
        background-color: #ffffff;
      }
      .counter-image{
        flex: 1;
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center;
        opacity: 0.6;
        height: auto;
        @media (max-width: 480px){
          height: 50px;
        }
      }

      .counter-box{
        flex: 2;
        padding: 0.25rem 0;
        text-align: left;
      }

      &:nth-of-type(1){ background-image: $fish2URL; 
         .counter-image{background-image: $fish2URL;} }
      &:nth-of-type(2){ background-image: $chickensURL; 
         .counter-image{background-image: $chickensURL;} }
      &:nth-of-type(3){ background-image: $fishURL; 
         .counter-image{background-image: $fishURL;} }
      &:nth-of-type(4){ background-image: $ducksURL; 
         .counter-image{background-image: $ducksURL;} }
      &:nth-of-type(5){ background-image: $pigsURL; 
         .counter-image{background-image: $pigsURL;} }
      &:nth-of-type(6){ background-image: $rabbitsURL; 
         .counter-image{background-image: $rabbitsURL;} }
      &:nth-of-type(7){ background-image: $geeseURL; 
         .counter-image{background-image: $geeseURL;} }
      &:nth-of-type(8){ background-image: $turkeysURL; 
         .counter-image{background-image: $turkeysURL;} }
      &:nth-of-type(9){ background-image: $sheepURL; 
         .counter-image{background-image: $sheepURL;} }
      &:nth-of-type(10){ background-image: $goatsURL; 
         .counter-image{background-image: $goatsURL;} }
      &:nth-of-type(11){ background-image:$cowsURL; 
         .counter-image{background-image: $cowsURL;} }
      &:nth-of-type(12){ background-image:$rodentsURL; 
         .counter-image{background-image: $rodentsURL;} }
      &:nth-of-type(13){ background-image:$birdsURL; 
         .counter-image{background-image: $birdsURL;} }
      &:nth-of-type(14){ background-image:$buffalosURL; 
         .counter-image{background-image: $buffalosURL;} }
      &:nth-of-type(15){ background-image:$horsesURL; 
         .counter-image{background-image: $horsesURL;} }
      &:nth-of-type(16){ background-image:$donkeysURL; 
         .counter-image{background-image: $donkeysURL;} }
      &:nth-of-type(17){ background-image:$camelsURL; 
         .counter-image{background-image: $camelsURL;} }
    }
  }

  .counter-share-loader{
    box-shadow: none !important;
    border: none !important;
    .counter-inner-wrapper{
      background-color: transparent !important;
    }
  }

  .counter-info{
    text-align: center;
  }
  
  .counter-info-popup{
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    z-index: 2;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
  }

  .share button{
    margin: 0.76rem 0;
  }
}

