.header{
  position: relative;
  height: auto;
  overflow: hidden;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/vegan-calculator-header-01-web.jpg');
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  @media (max-width: 769px){
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/vegan-calculator-header-01-web.jpg');
    background-size: cover;
  }
  
}

.nav{
  margin: 0;
  background-color: $green;
  padding: 0.5rem;
  display: block;
  height: 4rem;
  max-height: 4rem;
  @media (max-width: 64rem){
    padding: 1rem;
    margin: 0rem;
  }
}
.nav-inner{
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
  .title{
    line-height: 1.5;
    color: $green;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
    text-shadow: none;
    @media (max-width: 64rem){
      line-height: 1.8;
    }
    @media (max-width: 40rem){
      text-align: center;
      line-height: 1.1;
    }
  }
  .logo-wrap{
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    a{
      align-self: center;
    }
    @media (max-width: 40rem){
      text-align: center;
      justify-content: center;
    }
  }
  img{
    display: inline-block;
    max-height: 70px;
    @media (max-width: 40rem){
      margin: 0 auto;
      max-height: 45px;
    }
  }
}
.button{
  background-color: $pink;
  font-size: 110%;
  font-weight: 700;
  height: 3rem;
  line-height: 3rem;
  border-radius: 2px;
  text-transform: uppercase;
  @media (max-width: 40rem){
    height: 3rem;
    line-height: 3rem;
    margin: 0 0 1rem;
  }
  &:hover{
    background-color: darken($pink, 10%);
  }
  &:visited, &:focus, &:active{
    background-color: $pink;
  }
}
input[type="number"]{
  height: 3rem;
  background-color: #fff;
  color: $grey;
  font-size: 1.5rem;
  border: 1px solid $grey;
  border-radius: 2px;
  box-shadow: none;
  transition: none;
  @media (max-width: 40rem){
    line-height: 2rem;
    margin: 0;
  }
  &:focus{
    background-color: #fff;
    color: $grey;
  }
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  height: 2rem;
  width: 2rem;
  border-radius: 2px;
}
select{
  height: 3rem;
  background-color: #fff;
  border: 1px solid $grey;
  border-radius: 2px;
  &:focus{
    background-color: #fff;
    color: $grey;
  }
}

.hidelabel{
  opacity: 0;
}

.box-shadow{
  // box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2), 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  color: $grey;
}
.header-text{
    padding-top: 9rem;
    padding-bottom: 9rem;
    @media (max-width: 40rem){
      padding: 7rem 1rem 5rem;
    }
  h2, h4{
    text-align: center;
    color: #fff;
  }
}
// .divide{
//   padding: 2rem;
//   background-color: $green;
//   max-height: 3rem;
//   margin-bottom: 3rem;
//   position: relative;
//   @media (max-width: 40rem){
//     padding: 1rem;
//   }
//   .divide-inner{
//     width: 60%;
//     margin: 0 auto;
//     background-color: #fff;
//     padding: 1rem;
//     height: auto;
//     overflow: hidden;
//     @media (max-width: 64rem){
//       width: 80%;
//     }
//     @media (max-width: 40rem){
//       width: 100%;
//     }
//     h2{
//       color: $green;
//       text-align: center;
//     }
//   }
//   .by{
//     text-align: center;
//     font-size: 0.7rem;
//     font-weight: 600;
//     position: absolute;
//     margin: 0 auto;
//     left:10rem; right: 0; top: 5.5rem;
//     a{color: $grey;}
//     @media (max-width: 40rem){
//       left: 0rem; right:0; top: 4rem;
//       margin: 0 auto;
//     }
//   }
// }
.calculator-btn{
  color: #fff;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
.calculator{
  @media (max-width: 40rem){
    padding: 1rem 0;
  }
  .calc-header{
    // background-color: #fff;
    padding: 1rem;
    //position: absolute;
    //top: 0; left: 0; right: 0;
    margin: 0 auto;
    @media (max-width: 40rem){
      position: relative;
      padding: 1rem 1rem 0;
    }
    h3{
      text-align: center;
      color: $green;
      margin-bottom: 0;
      @media (max-width: 64rem){
        font-size: 1.1rem;
      }
    }
  }
  .calc{
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    h4{
      text-align: center;
      padding-bottom: 1rem;
    }
  }

  .calc-form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 0 1rem;
    @media (max-width: 50rem){
      flex-wrap: wrap;
      gap: 0 0.5rem;
    }
  }

  .calc-input{
    flex-grow: 1;
  }

  .calc-btnwrap{
    flex-grow: 2;
    @media (max-width: 50rem){
      width: 100%;
    }
  }

  .button{
    margin-top: 1.3rem;
    @media (max-width: 50rem){
      margin-top: 0;
    }
  }
  .stat{
    position: relative;
    padding-top: 0.4rem;
  }
  .name{
    // background-color: #fff;
    border: none;
    box-shadow: none;
    color: $green;
    font-size: 0.85rem;
    padding: 0.3rem 0rem;
    display: inline;
    //position: absolute;
    //left: 0;
    //top:0;
    font-weight: 500;
    text-transform: uppercase;
    @media (max-width: 50rem){
      font-size: 0.7rem;
    }
    @media (max-width: 40rem){
      position: relative;
      font-size: 0.5rem;
    }
    @media (max-width: 330px){
      padding: 0.3rem 0.2rem;
    }
  }
  .number{
    padding: 0.25rem 1rem;
    font-size: 1.8rem;
    color: #fff;
    display: block;
    margin: 0;
    border-radius: 2px;
    background: #1CB53D;
    @media (max-width: 64rem){
      font-size: 1.8rem;
    }
    @media (max-width: 43rem){
      font-size: 1.5rem;
      margin: 0;
    }
  }
  .source{
    font-size: 0.85rem;
    color: $grey;
    padding: 0.5rem 0rem;
    line-height: 1rem;
    text-transform: uppercase;
    a{
      display: block;
      text-transform: none;
      font-weight: 500;
    }
    @media (max-width: 50rem){
      font-size: 0.7rem;
    }
    @media (max-width: 43rem){
      padding: 0.5rem 0;
      font-size: 0.5rem;
      a{
        font-size:0.5rem;
      }
    }
  }
}

.content-section{
  padding: 3rem 1rem;
  @media (max-width: 40rem){
    padding: 2rem 1rem;
  }
}

.documentaries{
  h3{
    text-align: center;
  }
  p{
    padding: 1rem;
    line-height: 0.9;
    margin: 0;
    @media (max-width: 40rem){
      
    }
    em{
      font-size: 0.7rem;
    }
    a{
      text-decoration: none;
      text-transform: uppercase;
      line-height: 1.1;
      @media (max-width: 50rem){
        display: block;
        font-size: 0.8rem;
        text-align: center;
      }
    }
  }
  .blurb{
    padding: 0 1rem 1rem;
    line-height: 1.2;
    font-size: 0.7rem;
    color: $grey;
    @media (max-width: 50rem){
      font-size: 0.6rem;
    }
    @media (max-width: 25rem){
      display: none;
    }
  }
  .image{
    width: 100%;
    height: 14rem;
    background-size: 100%;
    background-position: center;
    transition: 0.8s;
    @media (max-width: 64rem){
      height: 12rem;
    }
    @media (max-width: 56rem){
      height: 8rem;
    }
    @media (max-width: 43rem){
      height: 7rem;
    }
    @media (max-width: 40rem){
      height: 14rem;
    }
    @media (max-width: 35rem){
      height: 10rem;
    }
    @media (max-width: 30rem){
      height: 8rem;
    }
    @media (max-width: 25rem){
      height: 8rem;
    }
    @media (max-width: 20rem){
      height: 5rem;
    }
  }
  .card{
    &:hover{
      .image{
        transition: 0.4s;
        background-size: 120%;
      }
    }
  }
  $imageOverlay: linear-gradient( rgba(10,58,16, 0), rgba(10,58,16, 0.5) );
  .earthlings{
    .image{ background-image: $imageOverlay, url('../img/earthlings.jpg');
    }
  }
  .blackfish{
    .image{
      background-image: $imageOverlay, url('../img/blackfish.jpg');
    }
  }
  .forksoverknives{
    .image{
      background-image: $imageOverlay, url('../img/forksoverknives.jpg');
    }
  }
  .ghostmachine{
    .image{
      background-image: $imageOverlay, url('../img/ghostmachine.jpg');
    }
  }
  .thecove{
    .image{
      background-image: $imageOverlay, url('../img/thecove.jpg');
    }
  }
  .cowspiracy{
    .image{
      background-image: $imageOverlay, url('../img/cowspiracy.jpg');
    }
  }
  .racingextinction{
    .image{
      background-image: $imageOverlay, url('../img/racingextinction.jpg');
    }
  }
  .gamechangers{
    .image{
      background-image: $imageOverlay, url('../img/gamechangers.jpg');
    }
  }
  .swine{
    .image{
      background-image: $imageOverlay, url('../img/swine.jpg');
    }
  }
  .dominion{
    .image{
      background-image: $imageOverlay, url('../img/dominion.jpg');
    }
  }
  .whatthehealth{
    .image{
      background-image: $imageOverlay, url('../img/whatthehealth.jpg');
    }
  }
  .foodchoices{
    .image{
      background-image: $imageOverlay, url('../img/foodchoices.jpg');
    }
  }
  .eatingyoualive{
    .image{
      background-image: $imageOverlay, url('../img/eatingyoualive.jpg');
    }
  }
}
.links{
  h3{
    text-align: center;
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
  .link{
    padding: 0.1rem 0.1rem;
    line-height: 1.2;
    color: $green;
    @media (max-width: 40rem){
      margin: 0.2rem 0.1rem;
    }
    p{
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
      line-height: 1;
      text-align: center;
      display: none;
    }
    small{
      color: #444;
      font-size: 0.7rem;
    }
    img{
      max-width: 100%;
      margin: 0.1rem auto;
      display: block;
    }
    // &:hover{
    //   background-color: #f8f8f8;
    //   transition: 0.2s;
    // }
  }
  .arrow{
    display: none;
    position: absolute;
    right: 1rem;
    top: 4rem;
    font-size: 2rem;
    padding: 0.5rem;
  }
}

.help{
  h3{
    text-align: center;
  }
}

.hide-on-mobile{
  @media (max-width: 40rem){
    display: none;
  }
}
.hide-on-desktop{
  @media (min-width: 40.01rem){
    display: none;
  }
}

.clearfix{
  clear: both;
}

.calc-ad-space{
  max-width: 100%;
  height: 150px !important;
  display: block;
  padding: 1rem;
  margin: 0 1rem 2rem;
  border: 1px solid #ccc;
  position: relative;
}
.calc-ad-label{
  padding: 1rem;
  background-color: #fff;
  position: absolute;
  top: -1.6rem;
  left: 2rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: #ccc;
}

// Embed Page
.embed{
  height: auto;
  h2{
    text-align: center;
    color: #444;
    text-shadow: none;
    a{
      color: #444 !important;
    }
    @media (max-width: 400px){
      font-size: 1.2rem;
    }
  }
  .calculator{
    padding: 0;
  }
  .calc {
    margin-top: 0 !important;
    border-top: 30px solid $green;
    @media (max-width: 400px){
      margin: 4rem 0rem 0 !important;
      padding: 0rem !important;
    }
  }
  .calc-header{
    position: relative !important;
  }
  .calc h4 {
    padding: 3rem 0 1rem;
  }
  .divide-inner{
    img{
      max-width: 150px;
      margin: 0 auto;
      display: block;
    }
  }
  .by{
      top: 0 !important;
      text-align: center;
      position: relative;

      @media (max-width: 400px){
        a{
          font-size: 0.85rem;
        }
      }
  }
  .button{
    margin-top: 0 !important;
    @media (max-width: 400px){
      font-size: 1rem;
    }
  }
}
.amazon-links{
  .columns{
    margin-top: 2rem;
    text-align: center;
    @media (max-width: 40rem){
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
  img{
    border-radius: 4px;
  }
}
.brand{
  padding: 5rem 1rem;
  a{
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    display: block;
  }
  img{
    width: 100%;
    max-width: 100%;
    display: block;
    border-radius: 4px;
  }
  @media (max-width: 40rem){
    padding: 4rem 1rem;
  }
}

.ara{
   padding: 0rem; 
   @media (max-width: 40rem){
    margin-top: 0.2rem;
  }
}

.video-background{
  position: absolute;
  right: 0; 
  left: 0;
  top: -30%;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  @media (max-width: 769px){
    display: none;
  }
}
.video-overlay{
  position: absolute;
  left: 0; 
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -90;
  background-color: rgba(0,0,0,0.4);
}
