<!-- Full Screen Menu Overlay -->
<nav id="full-screen-menu" class="menu-overlay hidden">
  <div class="menu-left-panel menu-left-desktop">
    <!-- Made With & Logo -->
    <div class="menu-brand">
      <div class="logo-container">
        <img src="assets/tvwd_logo.svg" alt="TVWD Logo" class="logo-image menu-logo">
      </div>
      <div class="footer-made-with menu-made-with">
        <p class="mb-0">
          Made with <span class="material-symbols-rounded icon-xs align-middle mx-1">favorite_border</span>
          by Luke Dowding<br>
          <a href="https://theveganwebdesigner.com" target="_blank" class="underline font-bold">The Vegan Web
            Designer</a>
        </p>
      </div>
    </div>
  </div>

  <div class="menu-right-panel">
    <!-- Close Button -->
    <button id="menu-close" class="btn-icon">
      <span class="material-symbols-rounded icon-lg">close</span>
    </button>

    <!-- Unit Toggle -->
    <div id="menu-unit-toggle" class="unit-toggle">
      <button id="toggle-imperial" class="unit-toggle-btn active">Imperial</button>
      <button id="toggle-metric" class="unit-toggle-btn">Metric</button>
    </div>

    <!-- Nav Links -->
    <div class="menu-links-list">
      <a href="index.html" class="menu-link-item">The Vegan Calculator</a>
      <a href="animal-slaughter.html" class="menu-link-item menu-link-item-slaughter">Animal Slaughter Counter</a>
      <a href="recommendations.html" class="menu-link-item">Recommended Resources</a>
      <a href="recommendations.html#docs" class="menu-link-item">Documentaries</a>
      <a href="recommendations.html#books" class="menu-link-item">Books</a>
      <a href="recommendations.html#sites" class="menu-link-item">Resources</a>
      <a href="https://cowspiracy.com/facts" target="_blank" class="menu-link-item menu-link-flex">
        Statistic Source <span class="material-symbols-rounded icon-xs">open_in_new</span>
      </a>

    </div>

    <!-- Thank You -->
    <div class="menu-thank-you">
      <span class="material-symbols-rounded icon-lg mb-2">favorite_border</span>
      <h2 class="m-0">Thank You!</h2>
      <p class="mb-4 flex-1">
        If this project inspired you, consider supporting its development with a small donation.
      </p>
      <a href="https://ko-fi.com/lukedowding" target="_blank" class="kofi-link font-bold text-lg">
        <span class="text-gradient">Buy me a Kofi</span>
        <span class="material-symbols-rounded icon-xs">open_in_new</span>
      </a>
    </div>
  </div>
</nav>