      <!-- Header -->
      <header class="main-header container">
        <a href="index.html" class="logo-container no-underline">
          <img src="assets/tvwd_logo_icon.svg" alt="TVWD Logo" class="logo-image">
          <div class="logo-text">
            <h1>The Vegan Calculator</h1>
            <p id="header-subtitle">How much have you saved?</p>
          </div>
        </a>
        <button id="menu-open" class="btn-icon">
          <span class="menu-label">Menu</span>
          <span class="material-symbols-rounded icon icon-lg">menu</span>
        </button>
      </header>
