<!-- Recommended Section -->
<div class="recommended-grid mt-4">

  <!-- Docs -->
  <div class="recommended-col">
    <div class="col-header">
      <span class="material-symbols-rounded icon">movie</span>
      <h3>Must-Watch Docs</h3>
      <a href="recommendations.html#docs" class="view-all hidden-mobile">View All</a>
    </div>
    <div class="card-grid" id="recommended-docs">
      <!-- Injected via JS -->
    </div>
    <a href="recommendations.html#docs" class="view-all-mobile hidden-desktop view-all w-full rounded text-center">View
      All</a>
  </div>

  <!-- Books -->
  <div class="recommended-col">
    <div class="col-header">
      <span class="material-symbols-rounded icon">menu_book</span>
      <h3>Recommended Books</h3>
      <a href="recommendations.html#books" class="view-all hidden-mobile">View All</a>
    </div>
    <div class="card-list" id="recommended-books">
      <!-- Injected via JS -->
    </div>
    <a href="recommendations.html#books" class="view-all-mobile hidden-desktop view-all w-full rounded text-center">View
      All</a>
  </div>

  <!-- Sites -->
  <div class="recommended-col">
    <div class="col-header">
      <span class="material-symbols-rounded icon">public</span>
      <h3>Helpful Resources</h3>
      <a href="recommendations.html#sites" class="view-all hidden-mobile">View All</a>
    </div>
    <div class="card-grid" id="recommended-sites">
      <!-- Injected via JS -->
    </div>
    <a href="recommendations.html#sites" class="view-all-mobile hidden-desktop view-all w-full rounded text-center">View
      All</a>
  </div>
</div>