body {
    background-color: #eee;
    background: #eee;
    font-family: var(--mainFont);
}

.row {
    max-width: 70rem;
}

div {
    height: auto;
    overflow: visible;
}

.clearfix {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family: var(--mainFont);
}

a {
    color: var(--green);
    transition: 0.5s;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: var(--green2);
    transition: 0.5s;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 1px #222, 1px 1px 4px #333;
}

@media (max-width: 64rem) {
    h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 40rem) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 30rem) {
    h1 {
        font-size: 1.5rem;
    }
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #222, 1px 1px 4px #333;
}

@media (max-width: 480px) {
    h2 {
        font-size: 1rem;
    }
}

h3 {
    color: var(--grey);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

@media (max-width: 40rem) {
    h3 {
        font-size: 0.9rem;
    }
}

h4 {
    color: var(--grey);
    font-size: 1.2rem;
}

@media (max-width: 40rem) {
    h4 {
        font-size: 0.9rem;
    }
}

.card {
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 4px;
    overflow: hidden;
}

@media (max-width: 40rem) {
    .card {
        margin: 0.2rem 0;
    }
}

/* Social Share */
.share {
    color: #fff;
    padding-left: 1rem;
    position: relative;
}

@media (max-width: 40rem) {
    .share {
        padding-left: 0;
    }
}

.share p {
    color: #444;
    margin: 0;
    font-size: 0.8rem;
}

.share .group {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

.share button {
    padding: 0.5rem;
    width: 2.5rem;
    font-size: 1rem;
    border-radius: 0;
    cursor: inherit;
    border: 0;
    color: #fff;
    outline: 0;
    font-family: inherit;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.share button:hover {
    text-decoration: none;
}

@media (max-width: 365px) {
    .share button {
        width: 2rem;
        font-size: 0.6rem;
    }
}

.share .fb {
    background-color: #306199;
}

.share .fb:hover {
    background-color: #244872;
}

.share .gp {
    background-color: #e93f2e;
}

.share .gp:hover {
    background-color: #ce2616;
}

.share .twitter {
    background-color: #26c4f1;
}

.share .twitter:hover {
    background-color: #0eaad6;
}

.share-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    background-color: rgba(250, 250, 250, 0.9);
}

.share-loader img {
    margin: 1.5rem auto;
    left: 0;
    right: 0;
    display: block;
}

.show-loader .share-loader {
    display: block;
}

/* Share Ends */


/* Footer */
.footer {
    margin: 5rem auto 0;
    padding: 3rem 1rem 0rem;
    box-sizing: border-box;
    background-color: #fff;
    height: auto;
    text-align: center;
}

.footer p {
    color: var(--grey);
    text-align: center;
    font-size: 0.8rem;
}

.footer a {
    color: var(--green);
}

.footer .heart {
    color: var(--pink);
}

.footer ul {
    width: 250px;
    max-width: 100%;
    margin: 0 1rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    list-style-type: none;
}

.footer li {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    list-style: none;
    color: var(--grey);
    text-align: center;
    font-size: 0.8rem;
}

.footer li a {
    color: var(--green);
    padding: 0.2rem;
    display: block;
    text-decoration: none;
}

.footer .footer-header {
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.footer .footer-end {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
    display: block;
    width: 100%;
}