<footer class="footer">
    <ul>
        <li class="footer-header">Links</li>
        <li>
            <a target="_blank" href="@@pathindex.html" onclick="https://twitter.com/vegancalculator'; return false;">The
                Vegan
                Calculator</a>
        </li>
        <li>
            <a target="_blank" href="@@pathanimal-slaughter/"
                onclick="http://thevegancalculator.com/animal-slaughter/; return false;">Animal Slaughter Counter</a>
        </li>
    </ul>
    <ul>
        <li class="footer-header">Social</li>
        <li>
            <a target="_blank" href="https://ko-fi.com/lukedowding"
                onclick="trackOutboundLink('https://ko-fi.com/lukedowding'); return false;">Buy me a Kofi</a>
        </li>
        <li>
            <a target="_blank" href="http://theveganwebdesigner.com/#contact"
                onclick="trackOutboundLink('http://theveganwebdesigner.com/#contact'); return false;">Contact</a>
        </li>
    </ul>
    <div class="footer-end">
        <p>Made with <span class="heart">&hearts;</span> - <a target="_blank" href="http://theveganwebdesigner.com/"
                onclick="trackOutboundLink('http://theveganwebdesigner.com/'); return false;">by Luke, The Vegan Web
                Designer</a></p>
    </div>
</footer>